<main>
  <div class="grid" *ngIf="prods.length > 0">
    <article class="card product-item" *ngFor="let product of prods">
      <header class="card__header">
        <h1 class="product__title">{{ product.title }}</h1>
      </header>
      <div class="card__image">
        <img [src]="product.imageUrl" alt="{{ product.title }}" />
      </div>
      <div class="card__content">
        <h2 class="product__price">$ {{ product.price }}</h2>
        <p class="product__description">{{ product.description }}</p>
      </div>
      <div class="card__actions">
        <a [routerLink]="['edit/', product.id]" routerLinkActive="router-link-active"  class="btn"
          >Edit</a
        >
        <a (click)="deleteProduct(product.id)" class="btn danger">Delete</a>
      </div>
    </article>
  </div>
  <h1 *ngIf="prods.length == 0">No Products Found!</h1>
</main>
